{% extends "layout.html" %}

{% block content %}

<div class="jumbotron">
    <h1>Журнал</h1>
    <p class="lead"></p>
    <p><a href="{{ url_for('showjournal') }}" class="btn btn-primary btn-large">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            Flask gives you a powerful, patterns-based way to build dynamic websites that
            enables a clean separation of concerns and gives you full control over markup
            for enjoyable, agile development.
        </p>
        <p><a class="btn btn-default" href="http://flask.pocoo.org/docs/">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Get more libraries</h2>
        <p>The Python Package Index is a repository of software for the Python programming language.</p>
        <p><a class="btn btn-default" href="https://pypi.python.org/pypi">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        
        <ul class="list-group">

            {% for predmet_stat in predmet_stats %}
                <li class="list-group-item">{{ predmet_stat[1] + ' - ' + predmet_stat[0] }}  </li>
            {% endfor %}
</ul>
    </div>
</div>

{% endblock %}
