{% extends "layout.html" %}

{% block content %}
<h1>Полный список оценок</h1>
{% for predmet in predmets %}
<div class="jumbotron">
<h3 >Предмет: {{ predmet[0] }}</h3>

<table  class="table table-condensed">
    <thead>
        <tr>
            <th><h4><b>Студент</b></h4></th>
            <th><h4><b>Оценка</b></h4></th>
        </tr>
    </thead>
        <tbody>
        {% for ball in balls %}

        {% if predmet[2] == ball[4] %}

                <tr>
                    <td><h5>{{ ball[1] }}</h5></td>
                    <td><h5>{{ ball[0] }}</h5></td>

                </tr>
        {% endif %}
        {% endfor %}

    </tbody>

</table>
    </div>
{% endfor %}

{% endblock %}
