{% extends "layout.html" %}

{% block content %}


<h1>Список предметов</h1>
    <table class="table table-condensed">
    <thead>
        <tr>
            <th><h4><b>№</b></h4></th>
            <th><h4><b>Название</b></h4></th>
            <th><h4><b>Количество часов</b></h4></th>

        </tr>
    </thead>
        <tbody>
        {% for predmet in predmets %}

          <tr>
            <td>{{ predmet[2]  }}</td>
            <td>{{ predmet[0] }}</td>
            <td>{{ predmet[1] }}</td>

        </tr>

        {% endfor %}

    </tbody>

</table>
{% endblock %}